/* simple FLEXBOX stuff */
.container {
    border: solid 2px green;
    display: flex;
    padding: 5px;

}

.item {
    border: solid 2px rgb(183, 33, 173);
    margin: 5px;
    padding: 5px;
    font-size: larger;
    flex-flow: wrap;
    max-height: fit-content;
    max-width: 100%;
    box-shadow: 2px rgba(0, 0, 0, 0.466);
    border-radius: 20px 0 0 0;
}

.justify {
    display: flex;
    border: 2px solid rgb(163, 14, 14);
    height: 500;
    width: 500;
    padding: 5px;

}

.cont1 {
    justify-content: space-between;
}

.cont2 {
    justify-content: space-around;
}

.cont3 {
    justify-content: space-evenly;
}

.cont4 {
    justify-content: flex-end;
}

.itum {
    border: 3px solid blue;
    padding: 5px;
    align-self: center;
    border-radius: 20px;
    margin: 5px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-flow: row no-wrap;
}

.column {
    border: 3px solid rgb(108, 112, 112);
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    height: 500px;
    width: 500px;
}

/* ---------------------- */
img {

    max-width: 100%;
    max-height: 100%;

}




/* for our horizontal nav bar we remove the 50% width */
nav ul.hor-navbar {
    border: 1px solid #333;

    margin: 1rem auto;
    background-color: rgb(0, 0, 0);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hor-navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
}



nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
}

nav a:focus {
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.eaJ1JfdJquZTpgUDYIpA9AHaE7%26pid%3DApi%26h%3D160&f=1&ipt=90dc0dceb6539df2ded41f1c3199d65e0c0c74d20dc23f8a14d7e18f78c0859a&ipo=images); */
    color: rgb(219, 191, 31);
}

nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* the i tag refers to the icons */
nav a:hover i {
    color: rgb(241, 224, 68);
}